@mixin anim($durata, $start, $end, $ritardo, $nome) {
  @keyframes #{$nome} {
    0% {
      opacity: 0;
      transform: translateY($start);
    }

    100% {
      opacity: 1;
      transform: translateY($end);
    }
  }

  .fade-in-#{$nome} {
    transform: translateY($start);
    animation: $nome $ritardo forwards;
  }
}

@include anim(10s, -500px, 0, 0.5s, ciao1);
@include anim(10s, -500px, 0, 1s, ciao2);
@include anim(10s, -500px, 0, 2s, ciao3);
@include anim(10s, -500px, 0, 3s, ciao4);
